section h3 {
    text-align: center;
}

.section__card {
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.section__cajaText {
    display: flex;
    gap: 4rem;
}

.section__text>p {
    padding: 1rem 10rem;
}

#fotoMujer {
    max-width: 550px;
    height: auto;
    margin: 0 0 0 15rem;
}

.section__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}