.main__contenedor {
    display: flex;

    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.contenedor__section {
    width: 1500px;
}

section h3 {
    text-align: center;
}

.section__card {
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.section__cajaText {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}

#fotoMujer {
    max-width: 550px;
    height: auto;
}

.section__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}